@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geologica:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Text:ital@0;1&family=Geologica:wght@100..900&family=Orbitron:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(24, 24, 24);

    --text-first-color: rgb(232, 220, 197);
    --text-second-color: rgb(248, 246, 243);
    
    --first-color-blur: rgba(24, 24, 24, 0.1);
    --first-color-hover: rgb(40, 91, 212);
}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
    display: none;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

body {
    background: var(--body-color);
    opacity: 0;
    transition: opacity 0.8s ease;
}
    body.loaded {
    opacity: 1;
}
[data-scroll-container] {
  will-change: transform;
}
/* ----- NAVBAR ----- */
nav{
    outline: none;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    transition: .3s;
    z-index: 100;
}
.nav-logo img{
   position: fixed;
   width: 110px;
   height: auto;
   left: 60px;
   justify-content: center;
   align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 32px;
    background: rgba(24, 24, 24, 0.10);
    backdrop-filter: blur(5px);
}

.nav-menu .nav_menu_list{
    display: flex;
    margin: 12px 24px;
    gap: 36px;
}
.nav-menu .nav_list{
    display: flex;
    list-style: none;
    font-family: 'geologica';
    justify-content: center;
    color: var(--text-second-color);
}
.nav-link{
    outline: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: var(--text-second-color);
    font-size: 14px;
    font-weight: 400;
    transition: ease-in-out .5s;
}

.nav-link:hover{
    color: var(--text-first-color);
}

.nav-menu-btn{
    outline: none;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--text-first-color);
    transition: .3;
}

/* ABOUT */
#about{
    height: 100vh;
    width: 100vw;
    position: relative; 
    overflow: hidden;
}

.opening-about-containt{
    display: flex;
    flex-direction: column;
}

.mid-contain{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 20%;
    width: 100%;
}
.short-text p{
    font-family: 'barlow';
    font-size: 16px;
    font-weight: 600;
    color: var(--text-second-color);
    margin-bottom: 12px;
}
.about-bg img{
    width: 100vw; 
    height: 86vh;
    object-fit: cover;
    z-index: -2;
    position: relative;
    filter: brightness(90%);
}

.four-image{
    display: flex;
    flex-direction: row;
    position: relative;
    /* overflow: hidden; */
    gap: 24px;
}

.image-box{
    width: 180px;
    height: 180px;
    position: relative;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.title-about{
    font-size: 54px;
    font-weight: 600;
    font-family: 'barlow';
    position: absolute;
    top: 95%;
    text-align: center;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-second-color);
}
.top-title{
    width: max-content;
}
.Masterpieces {
    position: relative;
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-size: 54px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    color: transparent;
    background: linear-gradient(90deg, #ecdcbe 20%, #ebebeb 40%, #E8DCC5 60%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% center;
    }
    100% {
        background-position: 200% center;
    }
}

.btn-explore{
    position: absolute;
    top: 65%;
    padding: 14px 42px;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    border: 2px solid var(--SECOND-TEXT-COLOR, #F8F6F3);
    background: rgba(24, 24, 24, 0.10);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.btn-explore{
    font-family: 'geologica';
    text-decoration: none;
    color: var(--text-second-color);
    font-size: 20px;
}

/* MARQUEE */
.marquee {
    width: 100%;
    overflow: hidden;
    z-index: -100;
}

.marquee-left,
.marquee-right {
    display: flex;
    width: fit-content;
}

.marquee-left{
    margin-top: 6px;
    animation: marquee-left 30s linear infinite;
}
.marquee-right{
    margin-top: 10px;
    animation: marquee-right 30s linear infinite;
}

.marquee-content {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    padding-inline: 5px;
}

.marquee-content p {
    font-size: 24px;
    font-weight: 400;
    font-family: 'geologica';
    color: var(--text-second-color);
    margin: 0;
}

.marquee-content img {
    width: 32px;
    animation: spin 6s linear infinite;
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes marquee-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* ----- ABOUT US ----- */
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 60px 0px;
}
.bg-about img{
    position: relative;
    width: 1320px;
    filter: brightness(70%);
}
.about-us-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px; 
    margin: 0 60px;
    overflow: hidden;
    border-radius: 6px;
}

.about-us-img img{
    width:420px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-contain{
    display: flex;
    flex-direction: row;
    position: absolute;
}

.about-us-text{
    height: fit-content;
    justify-content: center;
    margin: auto;
    border-radius: 16px;
    background: rgba(24, 24, 24, 0.10);
    backdrop-filter: blur(15px);
}

.about-us-text .about-deskripsi{
    font-family: 'geologica';
    font-size: 20px;
    width: 730px;
    font-weight: 200;
    justify-content: center;
    color: var(--text-second-color);
    margin: 40px;
}


.partnership{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    height: 100%;
}

.partnership-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    gap: 60px;
}

.partnership-img img{
    height: 54px;
    width: fit-content;
    transition: all 0.5s ease;
}
.partnership-img img:hover{
    transform: scale(1.1);
}


/* THE FOUNDER */

.founder{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 60px;
}

.founder-contain{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.founder-img{
    width: 480px;
    max-height: 560px;
    overflow: hidden;
    border-radius: 6px;
}

.founder-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

.founder-main-contain{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.founder-text-title{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.founder-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.founder-title-label{
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 4px 14px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #ECECEC;
}

.founder-main-title{
    color: #FFF;
    text-align: center;
    font-family: Barlow;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.founder-short-text{
    color: #E0E0E0;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.2px;
    max-width: 780px;
}

.sosmed-founder{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sosmed-icon-founder{
    display: flex;
    width: 50px;
    color: #ECECEC;
    height: 50px;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 2px solid var(--SECOND-TEXT-COLOR, #F8F6F3);
    margin-top: 32px;
}

.founder-experience{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
}

.title-founder-experience{
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    letter-spacing: 0.24px;
}

.founder-experience-icon{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.main-founder-experience{
    display: flex;
    color: #ececec;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.main-founder-experience i{
    font-size: 32px;
}

.main-founder-experience p{
    color: #ECECEC;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    letter-spacing: 0.2px;
}

/* INOVASI */
.inovasi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inovasi-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 910px;
    gap: 10px;
}

.title-inovasi{
    font-family: 'barlow';
    font-size: 32px;
    font-weight: 600;
    color: var(--text-second-color);
}

.deskripsi-inovasi{
    font-family: 'geologica';
    font-size: 16px;
    font-weight: 300;
    color: #ececec;
}

.inovasi-contain{
    display: flex;
    gap: 24px;
    flex-direction: row;
    margin-top: 44px;
}

.inovasi-box{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    color: #F8F6F3;
    gap: 12px;
    margin-bottom: 100px;
}

.inovasi-box i{
    font-size: 60px;
}

.inovasi-box p{
    font-family: 'geologica';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: var(--text-second-color);
}


.testimoni-content{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    gap: 40px;
    transition: all 0.5s ease;
}

.card-testi-content{
    width: 400px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(7px);
    display: flex;
    transform: translateZ(0);
    will-change: transform;
    transform-origin: center;
    border-radius: 16px;
    padding: 16px 10px 16px 16px;
    flex-direction: column;
    border: 1.5px solid #f8f6f300;
    transition: all 0.5s ease;
}

.card-title{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.card-title img{
    width: 50px;
    height: 50px;
}

.name-title{
    font-family: 'geologica';
}

.name-client{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-second-color);
}

.client-project{
    font-size: 14px;
    font-weight: 300;
    color: var(--text-first-color);
}

.main-containt-testi{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    color: var(--text-second-color);
    font-family: 'geologica';
    margin: 14px 0 16px 0px;
}

.card-testi-content:hover{
    transform: scale(1.05);
    border: 1.5px solid #F8F6F3;
}

.bg-grafik img{
    position: relative;
    z-index: -9999;
    width: auto;
    height: 400px;
    display: flex;
    left: -20%;
    justify-content: center;
    align-items: left;
}

.form-contain {
    display: flex;
    justify-content: space-between;
    margin: 60px;
    padding: 40px;
    font-family: 'barlow';
    background-color: #21212182;
    background-image: url('../img/form\ bg.jpg');
    background-size: cover;
    background-blend-mode: color;
    border-radius: 16px;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    align-items: flex-end;
}
.left-contain-form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.top-text-form{
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 440px;
}

.title-form{
    font-size: 32px;
    font-weight: 700px;
    background: linear-gradient(91deg, #FFF -15.27%, #999 175.73%);
    background-clip: text;
    width: max-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deskripsi-form{
    color: #ECECEC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 12px;
    max-width: 500px;
}

.form-control {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Geologica';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.14px;
    outline: none;
    transition: border 0.3s ease;
    color: #fff;
    border: 2px solid #f8f6f353;
}
.form-control:focus {
    border: 2px solid #F8F6F3;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
textarea.form-control {
    min-height: 150px;
    resize: vertical;
}
.form-control:focus::placeholder {
    color: transparent;
    transition: color 0.3s ease;
}

button {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #ECECEC;
  background: rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #ececec;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
  color: #ececec;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover {
  animation: rotate624 0.7s ease-in-out both;
  background: linear-gradient(90deg, #666666 0%, #505050 100%);
}

button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-shine {
  border: 2px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

::placeholder {
    color: #B6B6B6;
    opacity: 0.7;
}

.right-contain-form{
    flex-direction: column;
    gap: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right-contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.top-right-contain img{
    animation: spin 6s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.top-right-contain p{
    color: #ECECEC;
    font-family: Geologica;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
}

.bottom-right-contain{
    display: flex;
    color: #FFF;
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
}

.grafik-bottom{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
}

.deskripsi-grafik{
    font-family: 'geologica';
    color: var(--text-second-color);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 100px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 100%;
    margin-top: 100px;
    width: 100%;
    position: relative;
    background: #212121;
    padding-block: 40px 60px;
    font-family: 'geologica';
}
.logo-footer img{
    height: 200px;
    margin-left: -20px;
    margin-top: -44px;
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}

.sosmed{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -44px;
}

.sosmed-contain{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    color: var(--text-second-color);
}

.sosmed-contain p{
    font-weight: 300;
    font-size: 20px;
}

.sosmed-contain i{
    font-size: 32px;
}

.grafik-footer img{
    width: 250px;
    margin-bottom: -20px;
}

.right-footer{
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: right;
    bottom: 60px;
    right: 60px;
    gap: 32px;
}

.right-title p{
    font-size: 36px;
    font-weight: 600;
    background: linear-gradient(90deg, #377E80 22.97%, #3FB0B2 99.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deskripsi-footer{
    background: linear-gradient(91deg, #C2C2C2 0.54%, #5C5C5C 118.78%);
    font-size: 20px;
    font-weight: 400;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-footer{
    font-size: 16px;
    color: var(--text-second-color);
}

.bottom-footer a{
    text-decoration: none;
    color: var(--text-second-color);
    font-weight: 500;
    color: #BCBCBC;
}


@media (max-width: 1280px) {
  .about-us-text .about-deskripsi{
        font-size: 1.25rem;
        width: 36rem;
    }

    .about-us-img img{
        width: 20rem;
    }

    .content-box .content-box-img{
        width: 16rem;
        height: 26rem;
        overflow: hidden;
    }

    .content-box-img img{
        object-fit: cover;
        max-width: 23.125rem;
    }
    .partnership-img img{
        height: 50px;
    }

    .card-testi-content{
        width: 32rem;
    }

}