@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geologica:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Text:ital@0;1&family=Geologica:wght@100..900&family=Orbitron:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(24, 24, 24);

    --text-first-color: rgb(232, 220, 197);
    --text-second-color: rgb(248, 246, 243);
    
    --first-color-blur: rgba(24, 24, 24, 0.1);
    --first-color-hover: rgb(40, 91, 212);
}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
    overflow: auto;
}

[data-scroll-container] {
  min-height: 100vh;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
    display: none;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

body {
    background: var(--body-color);
    opacity: 0;
    transition: opacity 0.8s ease;
}
    body.loaded {
    opacity: 1;
}

/* ----- NAVBAR ----- */
nav{
    outline: none;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    transition: .3s;    
    z-index: 100;
}
.nav-logo img{
   position: fixed;
   width: 110px;
   height: auto;
   left: 60px;
   justify-content: center;
   align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 32px;
    background: rgba(24, 24, 24, 0.10);
    backdrop-filter: blur(5px);
}

.nav-menu .nav_menu_list{
    display: flex;
    margin: 12px 24px;
    gap: 36px;
}
.nav-menu .nav_list{
    display: flex;
    list-style: none;
    font-family: 'geologica';
    justify-content: center;
    color: var(--text-second-color);
}
.nav-link{
    outline: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: var(--text-second-color);
    font-size: 14px;
    font-weight: 400;
    transition: ease-in-out .5s;
}

.nav-link:hover{
    color: var(--text-first-color);
}

.nav-menu-btn{
    outline: none;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--text-first-color);
    transition: .3;
}

/* TOP-PROJECT */
.top-project{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}

.top-project-contain{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url('../img/PROJECT\ FIRST\ BG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.left-project-contain{
    display: flex;
    flex-direction: column;
    z-index: 9;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.top-title-project{
    display: flex;
    width: 100%;
    height: 100%;
    padding-inline: 60px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 9;
    margin: auto;
}

.first-title{
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #949494 0%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-title h2{
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 74.5625rem;
}

.top-grafik-bg{
    position: absolute;
    left: 0%;
    bottom: -12%;
}

.top-grafik-bg img{
    max-width: 700px;
}

.blur-mask-bottom{
    position: absolute;
    bottom: -22%;
    right: 0%;
    width: 2055px;
    height: 217px;
    background: var(--MAIN-COLOR, #181818);
    filter: blur(40px);
    z-index: 20;
}

.project-btn{
    display: inline-flex;
    padding: 1.25rem 3rem 1.25rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    background: #1F1F1F;
    box-shadow: 0px 14px 35px 0px rgba(0, 0, 0, 0.06);
    color: #B8B8B8;
    text-align: center;
    font-family: Geologica;
    font-size: 1.25rem;
    text-decoration: none;
    margin-top: 32px;
    font-weight: 300;
}

/* ars journey */
.journey-contain{
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 1320px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 16px;
    background-image: url('../img/JOURNEY\ BG.jpg');
    background-position: center;
    background-size: cover;
    background-color: #18181863;
    background-blend-mode: multiply;
}

.title-journey{
    color: var(--SECOND-TEXT-COLOR, #F8F6F3);
    font-family: Barlow;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    width: max-content;
}

.journey-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.journey-box-contain{
    width: 228px;
    height: 228px;
    overflow: hidden;
    padding: 14px;border-radius: 10px;
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(7px);
    align-items: center;
    justify-content: center;
}

.journey-box-img img{
    border-radius: 5px;
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    filter: brightness(90%);
}

.deskripsi-journey{
    color: #ECECEC;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.015rem;
    max-width: 48.625rem;
}

 /* people-feel  */
 .people-feel{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    padding-inline: 60px;
 }
.people-feel-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.people-feel-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 718px;
}

.top-text-feel p{
    color: #FFF;
    font-family: Barlow;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.bottom-text-feel p{
    font-family: "Plus Jakarta Sans";
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1.92px;
    background: linear-gradient(91deg, var(--FIRST-TEXT-COLOR, #E8DCC5) 15.33%, #F5F5F5 93.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.people-feel-img{
    align-items: center;
    max-width: 540px;
    overflow: hidden;
    height: 650px;
}

/* first-project */
.first-project{
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-inline: 60px;
}

.first-project-contain{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.text-first-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-first-project{
    flex-direction: row;
    gap: 10px;
    color: var(--text-second-color);
    align-items: center;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-title{
    color: #FFF;
    font-family: Barlow;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.48px;
}

.label-first-project{
    border: 1.5px solid #ECECEC;
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ECECEC;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
}

.subtitle-first-project p{
    color: #ECECEC;
    font-family: Geologica;
    font-size: 24px;
    margin-top: 8px;
    color: #ECECEC;
    font-style: normal;
    margin-bottom: 42px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.32px;
}

.first-project-main{
    display: flex;
    flex-direction: row;
    width: 100%; 
    gap: 24px;
    align-items: flex-start;
}

.img-first-project{
    display: flex;
    flex-direction: column;
}

.img-contain-project{
    width: 900px;
    height: 380px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-image: url('../img/FIRST\ PROJECT\ IMG.jpg');
    background-color: #1818184a;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.img-contain-project img{
    width: 86px;
    position: absolute;
    bottom: 0%;
    right: 2%;
}

.summary-project{
    color: #ECECEC;
    font-family: Geologica;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.24px;
    max-width: 900px;
    margin-top: 10px;
}

.deskripsi-first-project{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    display: inline-flex;
    padding: 24px 22px 0px 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 55px;
}

.deskripsi-contain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: #FFFFFF;
}

.deskripsi-child{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
}

.deskripsi-child .title-deskripsi{
    color: #ebebeb;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
}

.deskripsi-child .contain-deskripsi{
    color: #FFF;
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
}

.btn-deskripsi-project{
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #ECECEC;
    color: var(--FIRST-TEXT-COLOR, #E8DCC5);
    text-decoration: none;
    font-family: Geologica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
}

/* short testimonial */
.short-testimonial{
    display: flex;
    margin: 100px 0 160px 0;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    position: relative;
}

.short-testimonial-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 60px;
    justify-content: center;
    margin: auto;
}
.marquee{
    position: relative;
    overflow: hidden;
    will-change: transform;
}
.marquee-contain {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
  flex-shrink: 0;
  will-change: transform;
}
.blur-mask-marquee-top{
    position: absolute;
    top: -24%;
    left: -12%;
    background: #181818;
    filter: blur(20px);
    width: 4000px;
    height: 120px;
    color: #181818;
    z-index: 20;
    will-change: transform;
}
.blur-mask-marquee-bottom{
    position: absolute;
    bottom: -24%;
    left: -12%;
    background: #181818;
    filter: blur(20px);
    width: 4000px;
    height: 120px;
    color: #181818;
    z-index: 20;
    will-change: transform;
}
.marquee-left,
.marquee-right {
  width: 258px;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.marquee-content-img{
    border-radius: 12px;
    border: 1.8px solid #ECECEC;
    overflow: hidden;
    width: 258px;
    height: 160px;
    align-items: center;
}
.marquee-content-img img {
  width: 258px;
  height: 160px;
  filter: brightness(50%);
  object-fit: cover;
}

.marquee-up {
  animation: scroll-up 16s linear infinite;
}

.marquee-down {
  animation: scroll-down 16s linear infinite;
}

@keyframes scroll-up {
  0% { 
    transform: translateY(0); 
}
  100% { 
    transform: translateY(-50%); 
}
}

@keyframes scroll-down {
  0% { 
    transform: translateY(-50%); 
}
  100% { transform: translateY(0); }
}

.text-testimonial{
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-left: 32px;
}

.top-title-testimonial{
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: flex-start;
}

.petik{
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -1.28px;
}

.contain-top-title{
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.96px;
    max-width: 690px;
}

.person-tag{
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.24px;
    background: linear-gradient(90deg, #ECECEC 0%, #9D8D8D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* form project */
  .modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }

  .modal-content button {
    margin-top: 15px;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .modal-content button:hover {
    background-color: #555;
  }

  body.modal-open {
    overflow: hidden;
  }

.form-project{
    width: 100vw;
    height: 100%;
    padding-inline: 60px;
    position: relative;
    clear: both;
}
.form-project-contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.top-text-form-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-text-form-project{
    color: var(--text-second-color);
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    letter-spacing: -0.36px;
}

.sec-text-form-project{
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 32px;
    max-width: 1240px;
    line-height: normal;
    background: linear-gradient(90deg, #E7E7E7 0%, #7D7D7D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.marquee-partnership {
  display: flex;
  animation: scroll-marquee 30s linear infinite;
  width: max-content;
  margin-bottom: 60px;
}

.marquee-partnership-contain {
  display: flex;
  gap: 44px;
  width: max-content;
  white-space: nowrap;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partnership{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    height: 100%;
}

.partnership-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    gap: 60px;
}

.partnership-img img{
    height: 54px;
    width: fit-content;
}

.form-contain {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-family: 'barlow';
    background-color: #21212182;
    background-image: url('../img/form\ bg.jpg');
    background-size: cover;
    background-blend-mode: color;
    border-radius: 16px;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    align-items: flex-end;
}
.left-contain-form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.top-text-form{
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 440px;
}

.title-form{
    font-size: 32px;
    font-weight: 700px;
    background: linear-gradient(91deg, #FFF -15.27%, #999 175.73%);
    background-clip: text;
    width: max-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deskripsi-form{
    color: #ECECEC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 12px;
    max-width: 500px;
}

.form-control {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Geologica';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.14px;
    outline: none;
    transition: border 0.3s ease;
    color: #fff;
    border: 2px solid #f8f6f353;
}
.form-control:focus {
    border: 2px solid #F8F6F3;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
textarea.form-control {
    min-height: 150px;
    resize: vertical;
}
.form-control:focus::placeholder {
    color: transparent;
    transition: color 0.3s ease;
}

button {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #ECECEC;
  background: rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #ececec;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
  color: #ececec;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover {
  animation: rotate624 0.7s ease-in-out both;
  background: linear-gradient(90deg, #666666 0%, #505050 100%);
}

button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-shine {
  border: 2px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

::placeholder {
    color: #B6B6B6;
    opacity: 0.7;
}

.right-contain-form{
    flex-direction: column;
    gap: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right-contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.top-right-contain img{
    animation: spin 6s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.top-right-contain p{
    color: #ECECEC;
    font-family: Geologica;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
}

.bottom-right-contain{
    display: flex;
    color: #FFF;
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
}

.grafik-bottom{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
}

.deskripsi-grafik{
    font-family: 'geologica';
    color: var(--text-second-color);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 100px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 100%;
    margin-top: 100px;
    width: 100%;
    position: relative;
    background: #212121;
    padding-block: 40px 60px;
    font-family: 'geologica';
    z-index: 9999;
}
.logo-footer img{
    height: 200px;
    margin-left: -20px;
    margin-top: -44px;
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}

.sosmed{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -44px;
}

.sosmed-contain{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    color: var(--text-second-color);
}

.sosmed-contain p{
    font-weight: 300;
    font-size: 20px;
}

.sosmed-contain i{
    font-size: 32px;
}

.grafik-footer img{
    width: 250px;
    margin-bottom: -20px;
}

.right-footer{
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: right;
    bottom: 60px;
    right: 60px;
    gap: 32px;
}

.right-title p{
    font-size: 36px;
    font-weight: 600;
    background: linear-gradient(90deg, #377E80 22.97%, #3FB0B2 99.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deskripsi-footer{
    background: linear-gradient(91deg, #C2C2C2 0.54%, #5C5C5C 118.78%);
    font-size: 20px;
    font-weight: 400;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-footer{
    font-size: 16px;
    color: var(--text-second-color);
}

.bottom-footer a{
    text-decoration: none;
    color: var(--text-second-color);
    font-weight: 500;
    color: #BCBCBC;
}

@media (max-width: 1388px) {
    .card-testi-content{
        width: 36rem;
    }
    .bottom-text-feel p{
        font-size: 5rem;
        max-width:34rem;
    }
}

@media (max-width: 1280px) {
  .bottom-text-feel p{
    font-size: 4rem;
    max-width:32.875rem;
  }
}